In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import os
import chardet


# `columns_description` contains an explanation of all the variables in the analysis

In [2]:
# used the chardet and it's cli tool chardetect to check the characterset of the file
# chardetect columns_description.csv

columns_description = pd.read_csv("../data/mock/columns_description.csv", encoding="Windows-1252")

#columns_description.head()

# Starting the analysis based on the `application_data` dataset

In [3]:
application_data = pd.read_csv("../data/mock/application_data.csv")

application_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Analysis of the `previous_application` dataset

In [4]:

previous_application = pd.read_csv("../data/mock/previous_application.csv")

previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:

previous_and_current_loan = previous_application[["SK_ID_PREV", "SK_ID_CURR"]]
previous_and_current_loan.to_csv("../data/interim/previous_and_current_loan.csv")

# Find common columns in the CSVs

-  Thus we see that the most common relevant column is `SK_ID_CURR`

In [5]:

set1 = set(application_data.columns.to_list())
set2 = set(previous_application.columns.to_list())
set1.intersection(set2)

{'AMT_ANNUITY',
 'AMT_CREDIT',
 'AMT_GOODS_PRICE',
 'HOUR_APPR_PROCESS_START',
 'NAME_CONTRACT_TYPE',
 'NAME_TYPE_SUITE',
 'SK_ID_CURR',
 'WEEKDAY_APPR_PROCESS_START'}


# Now we try to find any common elements based on the common column of `SK_ID_CURR`

In [9]:

set_application_data = set(application_data[['SK_ID_CURR']].to_dict()['SK_ID_CURR'].values())

set_previous_application = set(previous_application[['SK_ID_CURR']].to_dict()['SK_ID_CURR'].values())

len(set_application_data.intersection(set_previous_application))

291057

In [ ]:

list_of_common_loan_ids = list(set_application_data.intersection(set_previous_application))


# Size of the three datasets

In [10]:

len(set_application_data)

307511

In [11]:

len(set_previous_application)

338857

In [12]:

len(list_of_common_loan_ids)

291057


# Reset the indices of the loan

In [15]:

df1 = application_data.set_index("SK_ID_CURR")
df1.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df1 = df1.loc[list_of_common_loan_ids]
df1

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,454500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,1395000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,1530000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,913500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,405000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,652500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,67500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,697500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,679500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,247500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,387000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,270000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,157500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,454500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,927000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,247500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,180000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100035,0,Cash loans,F,N,Y,0,292500.000,665892.0,24592.5,477000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
100036,0,Cash loans,F,N,Y,0,112500.000,512064.0,25033.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456220,0,Cash loans,F,N,N,1,81000.000,1350000.0,39474.0,1350000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,297000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,472500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,450000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,936000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,765000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,450000.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,337500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,193500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,1125000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,1138500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,247500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,585000.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,319500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [23]:

df2 = previous_application.set_index("SK_ID_CURR")
df2.head()

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
271877,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
108129,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
122040,2523466,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
176158,2819243,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
202054,1784265,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df2 = df2.loc[list_of_common_loan_ids]
df2

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1038818,Consumer loans,9251.775,179055.00,179055.0,0.00,179055.00,SATURDAY,9,Y,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
100003,1810518,Cash loans,98356.995,900000.00,1035882.0,NaN,900000.00,FRIDAY,12,Y,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
100003,2636178,Consumer loans,64567.665,337500.00,348637.5,0.00,337500.00,SUNDAY,17,Y,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
100003,2396755,Consumer loans,6737.310,68809.50,68053.5,6885.00,68809.50,SATURDAY,15,Y,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
100004,1564014,Consumer loans,5357.250,24282.00,20106.0,4860.00,24282.00,FRIDAY,5,Y,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0
100006,2078043,Cash loans,24246.000,675000.00,675000.0,NaN,675000.00,THURSDAY,15,Y,...,XNA,48.0,low_normal,Cash X-Sell: low,365243.0,-151.0,1259.0,-151.0,-143.0,0.0
100006,2827850,Revolving loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,Y,...,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
100006,2190416,Consumer loans,29027.520,334917.00,267930.0,66987.00,334917.00,SUNDAY,15,Y,...,Consumer electronics,12.0,high,POS household with interest,365243.0,-281.0,49.0,365243.0,365243.0,0.0
100006,1489396,Revolving loans,13500.000,270000.00,270000.0,NaN,270000.00,THURSDAY,15,Y,...,XNA,0.0,XNA,Card X-Sell,365243.0,365243.0,365243.0,365243.0,365243.0,0.0
100006,1020698,Cash loans,39954.510,454500.00,481495.5,NaN,454500.00,SATURDAY,12,Y,...,XNA,18.0,high,Cash X-Sell: high,NaN,NaN,NaN,NaN,NaN,NaN
100006,1243599,Cash loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,Y,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
100006,2299329,Consumer loans,2482.920,26912.34,24219.0,2693.34,26912.34,TUESDAY,15,Y,...,Construction,12.0,middle,POS industry with interest,365243.0,-545.0,-215.0,-425.0,-416.0,0.0
100006,2545789,Cash loans,NaN,0.00,0.0,NaN,NaN,THURSDAY,15,Y,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
100006,1697039,Cash loans,32696.100,688500.00,906615.0,NaN,688500.00,THURSDAY,15,Y,...,XNA,48.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
100007,2001242,Cash loans,16509.600,180000.00,180000.0,NaN,180000.00,SUNDAY,14,Y,...,Consumer electronics,18.0,high,Cash Street: high,365243.0,-834.0,-324.0,-354.0,-347.0,0.0
100007,2730157,Cash loans,13010.985,225000.00,284400.0,NaN,225000.00,FRIDAY,13,Y,...,XNA,48.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN
100007,1692033,Cash loans,16037.640,247500.00,274288.5,NaN,247500.00,MONDAY,11,Y,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-344.0,346.0,365243.0,365243.0,1.0
100007,2119973,Consumer loans,1834.290,17176.50,14616.0,3676.50,17176.50,SATURDAY,13,Y,...,Consumer electronics,10.0,high,POS household with interest,365243.0,-2326.0,-2056.0,-2056.0,-2041.0,1.0
100007,2462742,Consumer loans,3601.530,31005.00,30663.0,3105.00,31005.00,SUNDAY,15,Y,...,Connectivity,12.0,high,POS mobile with interest,365243.0,-1736.0,-1406.0,-1406.0,-1397.0,0.0
100007,1940724,Cash loans,22678.785,202500.00,215865.0,NaN,202500.00,THURSDAY,8,Y,...,Consumer electronics,12.0,middle,Cash X-Sell: middle,365243.0,-1076.0,-746.0,-746.0,-739.0,1.0
100008,2218188,Consumer loans,17885.835,162598.50,162598.5,0.00,162598.50,THURSDAY,10,Y,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-339.0,-69.0,-69.0,-66.0,0.0
100008,1757431,Cash loans,NaN,0.00,0.0,NaN,NaN,FRIDAY,18,Y,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
100008,1186888,Consumer loans,8019.090,44455.50,39955.5,4500.00,44455.50,MONDAY,13,Y,...,Connectivity,6.0,low_normal,POS mobile with interest,365243.0,-2491.0,-2341.0,-2341.0,-2334.0,0.0
100008,2613879,Cash loans,25309.575,450000.00,501975.0,NaN,450000.00,MONDAY,10,Y,...,Consumer electronics,30.0,middle,Cash X-Sell: middle,365243.0,-609.0,261.0,-399.0,-388.0,1.0
100008,1907290,Consumer loans,12144.285,121455.00,109309.5,12145.50,121455.00,MONDAY,9,Y,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-2299.0,-2029.0,-2029.0,-703.0,0.0
100009,1413109,Consumer loans,8996.760,98239.50,98239.5,0.00,98239.50,SATURDAY,18,Y,...,Consumer electronics,12.0,low_action,POS household without interest,365243.0,-418.0,-88.0,-88.0,-84.0,0.0
100009,2227125,Consumer loans,8821.260,46876.50,44694.0,4689.00,46876.50,WEDNESDAY,13,Y,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-274.0,-124.0,-124.0,-119.0,0.0
100009,2421381,Consumer loans,7435.845,47160.00,39721.5,9432.00,47160.00,SUNDAY,11,Y,...,Consumer electronics,6.0,middle,POS household with interest,365243.0,-795.0,-645.0,-645.0,-636.0,0.0
100009,2007057,Consumer loans,7500.735,40455.00,38574.0,4045.50,40455.00,SUNDAY,11,Y,...,Consumer electronics,6.0,high,POS household with interest,365243.0,-277.0,-127.0,-127.0,-119.0,0.0
100009,2797899,Consumer loans,10418.670,95841.00,88632.0,14377.50,95841.00,WEDNESDAY,17,Y,...,Consumer electronics,10.0,middle,POS household with interest,365243.0,-43.0,227.0,365243.0,365243.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456244,1035930,Cash loans,21177.810,180000.00,191880.0,0.00,180000.00,THURSDAY,13,Y,...,XNA,12.0,high,Cash Street: high,365243.0,-2119.0,-1789.0,-1879.0,-1874.0,0.0
456245,1100145,Cash loans,5693.085,45000.00,47970.0,NaN,45000.00,WEDNESDAY,18,Y,...,Connectivity,12.0,high,Cash Street: high,365243.0,-418.0,-88.0,-88.0,-80.0,1.0
456245,1666363,Cash loans,6481.755,90000.00,116077.5,NaN,90000.00,FRIDAY,10,Y,...,XNA,24.0,low_normal,Cash X-Sell: low,365243.0,-192.0,498.0,365243.0,365243.0,1.0
456246,1129524,Consumer loans,6747.660,36031.50,33093.0,4500.00,36031.50,THURSDAY,15,Y,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-1480.0,-1330.0,-1330.0,-1324.0,0.0
456246,1079732,Revolving loans,6750.000,0.00,135000.0,NaN,NaN,WEDNESDAY,16,Y,...,XNA,0.0,XNA,Card X-Sell,-256.0,-231.0,365243.0,365243.0,365243.0,0.0
456247,1522534,Consumer loans,17304.480,65295.00,65295.0,0.00,65295.00,WEDNESDAY,10,Y,...,Consumer electronics,4.0,low_normal,POS household with interest,365243.0,-419.0,-329.0,-329.0,-321.0,0.0
456247,2797706,Consumer loans,5250.645,47781.00,47781.0,0.00,47781.00,SUNDAY,13,Y,...,Connectivity,10.0,low_normal,POS mobile without interest,365243.0,-616.0,-346.0,-586.0,-580.0,0.0
456247,2390857,Consumer loans,NaN,52510.50,52510.5,0.00,52510.50,SUNDAY,13,Y,...,Connectivity,NaN,XNA,POS mobile with interest,NaN,NaN,NaN,NaN,NaN,NaN
456247,1382810,Consumer loans,7544.970,34353.00,32188.5,3438.00,34353.00,WEDNESDAY,11,Y,...,Connectivity,5.0,low_normal,POS mobile with interest,365243.0,-2842.0,-2722.0,-2722.0,-2715.0,1.0
456247,2582033,Consumer loans,11767.590,99225.00,98145.0,9922.50,99225.00,MONDAY,14,Y,...,Furniture,12.0,high,POS industry with interest,365243.0,-2280.0,-1950.0,-1950.0,-1945.0,0.0
456248,1826280,Cash loans,28633.320,225000.00,271300.5,NaN,225000.00,MONDAY,13,Y,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-1092.0,-762.0,-762.0,-759.0,1.0
456248,1395578,Consumer loans,8417.340,39960.00,41940.0,0.00,39960.00,THURSDAY,14,Y,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-2649.0,-2499.0,-2499.0,-2495.0,1.0
456248,1136073,Cash loans,67725.495,1260000.00,1333179.0,NaN,1260000.00,FRIDAY,16,Y,...,XNA,24.0,low_action,Cash X-Sell: low,365243.0,-710.0,-20.0,-20.0,-17.0,1.0
456248,2743495,Revolving loans,45000.000,0.00,900000.0,NaN,NaN,FRIDAY,16,Y,...,XNA,0.0,XNA,Card X-Sell,365243.0,365243.0,365243.0,365243.0,365243.0,0.0
456249,2669123,Consumer loans,11497.500,114210.00,125518.5,0.00,114210.00,WEDNESDAY,11,Y,...,Consumer electronics,12.0,low_action,POS household without interest,NaN,NaN,NaN,NaN,NaN,NaN
456249,2660508,Cash loans,22770.405,180000.00,191880.0,NaN,180000.00,MONDAY,8,Y,...,XNA,12.0,high,Cash Street: high,365243.0,-1495.0,-1165.0,-1165.0,-1156.0,0.0
456251,2248017,Consumer loans,6605.910,40455.00,40455.0,0.00,40455.00,THURSDAY,17,Y,...,Connectivity,8.0,high,POS mobile with interest,365243.0,-210.0,0.0,-30.0,-25.0,0.0
456252,1503599,Consumer loans,10074.465,57595.50,56821.5,3456.00,57595.50,WEDNESDAY,10,Y,...,Consumer electronics,6.0,low_normal,POS household without interest,365243.0,-2466.0,-2316.0,-2316.0,-2311.0,1.0
456253,1686207,Consumer loans,5567.715,28912.50,27306.0,2893.50,28912.50,SATURDAY,12,Y,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-1866.0,-1716.0,-1716.0,-1712.0,0.0
456253,1668235,Consumer loans,3973.095,19413.00,13945.5,5913.00,19413.00,TUESDAY,11,Y,...,Connectivity,4.0,high,POS mobile with interest,365243.0,-2812.0,-2722.0,-2722.0,-2713.0,1.0
456254,2016407,Consumer loans,19065.825,223789.50,247423.5,0.00,223789.50,SATURDAY,18,Y,...,Consumer electronics,16.0,low_normal,POS household with interest,365243.0,-247.0,203.0,365243.0,365243.0,1.0
456254,1792910,Consumer loans,2296.440,18846.00,21456.0,0.00,18846.00,WEDNESDAY,12,Y,...,Connectivity,14.0,high,POS mobile with interest,365243.0,-291.0,99.0,365243.0,365243.0,0.0
456255,1743609,Consumer loans,11090.835,102037.50,112815.0,0.00,102037.50,THURSDAY,18,Y,...,Furniture,12.0,middle,POS industry with interest,365243.0,-960.0,-630.0,-690.0,-687.0,0.0
456255,1359084,Consumer loans,11314.170,82404.00,93298.5,9000.00,82404.00,SUNDAY,14,Y,...,Connectivity,12.0,high,POS mobile with interest,365243.0,-425.0,-95.0,-215.0,-211.0,0.0
456255,1179690,Cash loans,28873.170,450000.00,491580.0,NaN,450000.00,TUESDAY,13,Y,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-662.0,28.0,-212.0,-204.0,1.0
456255,2073384,Cash loans,16400.610,229500.00,254340.0,NaN,229500.00,THURSDAY,12,Y,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-618.0,72.0,-558.0,-528.0,1.0
456255,1708056,Revolving loans,2250.000,45000.00,45000.0,NaN,45000.00,SUNDAY,14,Y,...,Connectivity,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
456255,1296007,Cash loans,30737.655,765000.00,1067940.0,NaN,765000.00,FRIDAY,14,Y,...,XNA,60.0,low_normal,Cash Street: low,NaN,NaN,NaN,NaN,NaN,NaN
456255,2631384,Cash loans,54022.140,1170000.00,1271929.5,NaN,1170000.00,FRIDAY,14,Y,...,XNA,36.0,low_normal,Cash X-Sell: low,365243.0,-756.0,294.0,-66.0,-64.0,0.0
456255,2729207,Consumer loans,11514.555,58225.50,58545.0,5823.00,58225.50,FRIDAY,18,Y,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-469.0,-319.0,-409.0,-400.0,0.0

In [63]:

df1.index

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456245, 456246, 456247, 456248, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=291057)

In [66]:
df2.index

Int64Index([100002, 100003, 100003, 100003, 100004, 100006, 100006, 100006,
            100006, 100006,
            ...
            456254, 456254, 456255, 456255, 456255, 456255, 456255, 456255,
            456255, 456255],
           dtype='int64', name='SK_ID_CURR', length=1413701)

In [ ]:
pd.merge(df1,df2, on="SK_ID_CURR")